@import './reset.css';
@import './common.css';

/*
    헤더+푸터+큰틀
*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    background-color: rgba(0, 0, 0, 0);

    padding: 0 50px;
    z-index: 10;
    width: 100%;
    color: #fff;
    transition: .5s;
}
#header.hide{
    opacity: 0;
    visibility: hidden;
}
#header .logo{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: 500;
    text-wrap: nowrap;

    width: 6.7vw;
    height: 5.2vw;
}
#header .gnb{
    display: flex;
    align-items: center;
}
#header .col_right .gnb_list{
    display: flex;
    gap: 8px;
}
#header .col_right .gnb_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 80px;
    transition: .3s;
    position: relative;
}
#header .menu_btn{
    display: none;
    fill: #fff;
}
#header .col_right .gnb_item a:hover{
    transform: scale(.9);
}
#header .menu_close_btn{
    fill: #fff;
    position: absolute;
    top: 25px;
    right: 25px;
}
#header .menu_close_btn svg{
    fill: #fff;
    height: 25px;
    width: 25px;
}
#header .menu_area{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: .3s;
}
#header .menu_area.active{
    transform: translateX(0);
}
#header .menu_area .gnb_list{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
#footer{
    padding: 80px 0;
    background-color: #000;
}
#footer .inner{
    width: 80%;
    margin: 0 auto;
}
#footer .footer_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 200px 0;
    margin-bottom: 32px;
    border-bottom: 1px solid #1f1f1f;
}
#footer .footer_title_box{
    text-align: center;
    color: #fff;
}
#footer .footer_title_box h2{
    font-size: 128px;
    letter-spacing: -0.4px;
    line-height: 100px;
    font-weight: 300;
}
#footer .footer_link_box{
    display: flex;
    gap: 10px;
    margin-top: 100px;
}
#footer .footer_link_box .link_footer{
    position: relative;
    padding: 25px 55px;
    background:#0038ff;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-radius: 50px;
    transition: .3s;
}
#footer .footer_link_box .link_footer:hover{
    transform: translateY(-10%);
}
#footer .footer_link_box .link_footer span{
    z-index: 1;
    position: relative;
}
#footer .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .sns_area{
    display: flex;
    gap: 50px;
}
#footer .link_sns_title{
    display: block;
    color: #fff;
}
#footer .link_sns_desc{
    display: block;
    color: #71717a;
}
#footer .link_sns{
    position: relative;
}
#footer .link_sns:hover::before{
    transform: scaleX(100%);
}
#footer .link_sns::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    content: "";
    height: 1px;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .8s;
    width: 100%;
}
#footer .copy_area{
    text-align: right;
}
#footer .copy_desc{
    color: #fff;
}
#footer .copy{
    color: #71717a;
}

@media (max-width: 1180px) {
    #header.hide {
        opacity: 1;
        visibility: visible;
    }
    #header .logo{
        font-size: 18px;
    }
    #header .col_right .gnb_item a{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    #footer .footer_title_box h2{
        font-size: 75px;
    }
    #footer .footer_link_box .link_footer span{
        font-size: 12px;
    }
    #footer .footer_top{
        padding: 50px 0;
    }
    #footer{
        padding: 20px 0 ;
    }
    #header{
        padding: 20px 30px;
    }
    #header .gnb{
        display: none;
    }
    #header .menu_btn{
        display: flex;
        align-items: center;
        width: 28px;
        height: 28px;
    }
    #footer .footer_top{
        padding-top: 20px;
    }
    #header .logo{
        width: 100%;
    }
    #footer .footer_link_box{
        flex-direction: column;
        gap: 20px;
    }
    #footer .footer_link_box .link_footer{
        padding: 15px 30px;
        text-align: center;
    }
    #footer .footer_link_box .link_footer .line{
        text-align: center !important;
    }
    #footer .copy_area{
        text-align: center;
    }
    #footer .footer_bottom{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 10px;
    }
    #footer .copy .line{
        text-align: center !important;
    }
}
@media (max-width: 480px){
    #footer .copy_desc{
        font-size: 12px;    
    }
    #footer .copy{
        font-size: 12px;
    }
    #footer .footer_top{
        padding: 0;
        margin-bottom: 0;
    }
    #footer .footer_link_box{
        margin: 35px 0;
    }
    #footer .footer_title_box h2{
        font-size: 36px;
        line-height: 80px;
    }
    .sc_project.v2 .more_btn span{
        font-size: 12px;
    }
}
@media (max-width: 320px){
    #footer .footer_title_box h2{
        font-size: 36px;
    }
    #footer .sns_area{
        font-size: 14px;
    }
    .sc_project.v2 .more_btn{
        padding: 15px 25px;
    }
}