/* 초기화 + 세팅 + 변수 */


/* 초가화 */

*{margin:0;padding:0;font:inherit;color:inherit;border: 0;box-sizing: border-box;}
*, :after, :before {
    box-sizing:border-box;
}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
fieldset, input{
    border: 0;
}
ul{list-style: none;}
body{
	font-family: 'GENERAL', 'PRETENDARD', 'dotum', 'sans serif';
	background: #000;
}

html{
    scrollbar-width: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* font */
@font-face{
	font-family:'MAZUUS';
	font-weight:700;
	src: url(../fonts/MAZIUSREVIEW20.09-Extraitalic.woff);
}
@font-face{
	font-family:'MAZUUS';
	font-weight:500;
	src: url(../fonts/MAZIUSREVIEW20.09-Regular.woff);
}
@font-face{
	font-family:'MAZUUS';
	font-weight:300;
	src: url(../fonts/MAZIUSREVIEW20.09-Italic.woff);
}

@font-face{
	font-family:'GENERAL';
	font-weight:700;
	src: url(../fonts/GeneralSans-Bold.woff2);
}
@font-face{
	font-family:'GENERAL';
	font-weight:600;
	src: url(../fonts/GeneralSans-Semibold.woff2);
}
@font-face{
	font-family:'GENERAL';
	font-weight:500;
	src: url(../fonts/GeneralSans-Regular.woff2);
}
@font-face{
	font-family:'GENERAL';
	font-weight:400;
	src: url(../fonts/GeneralSans-Medium.woff2);
}
@font-face{
	font-family:'GENERAL';
	font-weight:300;
	src: url(../fonts/GeneralSans-Light.woff2);
}


@font-face{
	font-family:'PRETENDARD';
	font-weight:800;
	src: url(../fonts/Pretendard-Bold.woff2);
}
@font-face{
	font-family:'PRETENDARD';
	font-weight:700;
	src: url(../fonts/Pretendard-SemiBold.woff2);
}
@font-face{
	font-family:'PRETENDARD';
	font-weight:600;
	src: url(../fonts/Pretendard-Medium.woff2);
}
@font-face{
	font-family:'PRETENDARD';
	font-weight:500;
	src: url(../fonts/Pretendard-Regular.woff2);
}
@font-face{
	font-family:'PRETENDARD';
	font-weight:300;
	src: url(../fonts/Pretendard-Light.woff2);
}
@font-face{
	font-family:'PRETENDARD';
	font-weight:200;
	src: url(../fonts/Pretendard-Thin.woff2);
}
